.hero-section {
  width: 100%;
  height: 100%;
  background-image: url('../images/DarkPaper.png');
  background-position: 50% 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.location-title {
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.5px;
}

.p-text {
  margin: 16px 0px 0px;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.2px;
}

.p-text.mt-16 {
  line-height: 24px;
}

.locations-section {
  position: relative;
  z-index: 100;
  background-color: #f9f9f9;
}

.location-block {
  margin-bottom: 104px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  background-color: transparent;
}

.image-6 {
  display: block;
  margin-bottom: 0px;
}

.location-wrapper {
  margin-right: 10px;
  margin-left: 10px;
  background-color: #fff;
}

.location-info {
  margin-bottom: 0px;
  padding: 16px;
}

.location-actions {
  margin-top: 32px;
}

.button-menu {
  width: 45%;
  margin-right: 10px;
  float: left;
  border: 2px solid #000;
  background-color: #000;
  text-align: center;
  cursor: pointer;
}

.button-directions {
  width: 45%;
  margin-left: 10px;
  float: right;
  border: 2px solid #000;
  background-color: transparent;
  color: #000;
  text-align: center;
  cursor: pointer;
}

.button-label {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
}

.section-title {
  margin-top: 104px;
  margin-bottom: 64px;
  font-family: Montserrat, sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

.h1 {
  margin-top: 64px;
  margin-bottom: 40px;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 52px;
  font-weight: 300;
}

.hero-copy {
  margin-bottom: 40px;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 32px;
  font-weight: 300;
}

.button-primary.button-hero {
  width: 150px;
  height: 38px;
  background-color: #fff;
  font-family: Montserrat, sans-serif;
  color: #000;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
}

.container {
  position: relative;
  z-index: 100;
  margin-bottom: 0px;
  padding-bottom: 104px;
}

.aboutus-section {
  position: relative;
  z-index: 100;
  overflow: visible;
  clear: both;
  background-color: #fff;
  background-image: url('../images/about-us-plant-illustration.svg');
  background-position: 60% 105%;
  background-size: 700px;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.image-7 {
  width: 400px;
}

.callout-wrapper {
  position: relative;
  left: -200px;
  top: 24px;
  margin-left: 0px;
  padding: 24px;
  background-color: #fff;
  box-shadow: 0 16px 64px 8px rgba(0, 0, 0, .05);
}

.callout {
  margin: 0px;
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  font-weight: 300;
  text-align: left;
  letter-spacing: 0.5px;
}

.callout-paragraph {
  margin-top: 104px;
}

.columns {
  margin-bottom: 104px;
}

.apply-cta {
  width: 45%;
  margin-top: 32px;
  margin-right: 10px;
  float: left;
  border: 2px solid #000;
  background-color: #000;
  text-align: center;
  cursor: pointer;
}

.careers-section {
  position: relative;
  z-index: 100;
  height: 500px;
  background-color: #fff;
  background-image: url('../images/white-cup-img.png');
  background-position: 120% 0px;
  background-size: 675px;
  background-repeat: no-repeat;
}

.column-2 {
  position: static;
  right: 0px;
  bottom: 0px;
}

.footer-section {
  position: relative;
  z-index: 100;
  margin-bottom: 0px;
  padding-bottom: 104px;
  background-color: #fff;
}

.footer-p-text {
  margin: 0px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.2px;
}

.brew-logo {
  margin-bottom: 16px;
}

.container-6 {
  display: block;
  margin-top: 32px;
  color: #fff;
}

.navbar-2 {
  background-color: transparent;
}

.nav-link {
  position: relative;
  left: 0px;
  top: 0px;
  right: 0px;
  display: inline-block;
  margin: auto;
  padding: auto;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
}

.nav-link.w--current {
  color: #fff;
}

.brand-2 {
  width: 140px;
  height: 93px;
  background-image: url('../images/logo_white.png');
  background-position: 0px 0px;
  background-size: 140px 93px;
  background-repeat: no-repeat;
}

.nav-menu {
  left: 0px;
  top: 0px;
  right: 0px;
  display: block;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 300;
}

.menu-button {
  font-family: Montserrat, sans-serif;
}

.menu-button.w--open {
  background-color: #333;
}

.image-12 {
  position: absolute;
  margin-top: 5%;
}

.image-13 {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  margin-top: 5%;
}

.hero-images {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 1;
  overflow: hidden;
  width: 100%;
  height: 100%;
  clear: both;
}

.image-17 {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1;
}

.image-18 {
  position: absolute;
  top: 234px;
  right: 72px;
  bottom: 0px;
  z-index: 2;
}

.image-19 {
  position: absolute;
  top: 359px;
  right: 0px;
  bottom: 0px;
}

.footer-columns {
  float: right;
}

.branding-block {
  float: left;
}

.footer-copyright {
  position: static;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
  float: left;
  clear: both;
}

.social-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 24px;
  padding-bottom: 0px;
  clear: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.fb-icn {
  display: inline-block;
  padding-right: 16px;
  padding-left: 16px;
  cursor: pointer;
}

.ig-icn {
  padding-right: 16px;
  padding-left: 16px;
  cursor: pointer;
}

@media (max-width: 991px) {
  .p-text {
    margin-top: 0px;
  }
  .p-text.mt-16 {
    margin-top: 16px;
  }
  .button-menu {
    width: 100%;
  }
  .button-directions {
    width: 100%;
    margin-top: 8px;
    margin-left: 0px;
  }
  .button-label {
    display: inline;
    width: 100%;
  }
  .callout-wrapper {
    left: 0px;
  }
  .careers-section {
    background-position: 400% 0px;
  }
  .footer-section {
    padding-bottom: 32px;
  }
  .footer-title {
    margin-top: 16px;
  }
  .footer-p-text {
    margin-top: 24px;
    padding: 24px;
    text-align: center;
  }
  .brew-logo {
    padding-top: 16px;
  }
  .nav-link {
    display: block;
  }
  .nav-menu {
    background-color: #333;
  }
  .image-12 {
    margin-top: 25%;
  }
  .image-13 {
    margin-top: 25%;
  }
  .image-18 {
    top: 321px;
    right: -200px;
  }
  .image-19 {
    display: none;
  }
  .footer-columns {
    float: right;
  }
  .footer-copyright {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .button-primary.button-hero {
    width: 100%;
  }
  .container {
    padding-right: 16px;
    padding-left: 16px;
  }
  .image-7 {
    display: block;
    margin-right: auto;
    margin-left: auto;
    float: none;
    clear: none;
  }
  .apply-cta {
    width: 100%;
  }
  .careers-section {
    background-position: -997% -184px;
  }
  .column-3 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .column-4 {
    display: none;
  }
  .brew-logo {
    margin-bottom: 0px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .nav-link {
    display: block;
  }
  .brand-2 {
    margin-left: 16px;
  }
  .image-12 {
    display: none;
  }
  .image-17 {
    display: none;
  }
  .image-18 {
    top: 4px;
    right: -363px;
  }
  .branding-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
}

@media (max-width: 479px) {
  .hero-section {
    overflow: hidden;
  }
  .h1 {
    padding-right: 0px;
    padding-left: 0px;
    font-size: 64px;
    line-height: 64px;
  }
  .button-primary.button-hero {
    width: 100%;
  }
  .container {
    padding-top: 16px;
    padding-right: 16px;
    padding-left: 16px;
  }
  .footer-p-text {
    margin-top: 0px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
  }
  .column-3 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .column-4 {
    display: none;
  }
  .brew-logo {
    margin-top: 16px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .nav-link {
    margin: 64px auto;
    padding: 0px;
    font-size: 32px;
  }
  .brand-2 {
    margin-left: 16px;
    padding-left: 0px;
  }
  .nav-menu {
    z-index: 200;
    display: block;
    margin: auto;
    padding-top: 0px;
    background-color: #333;
  }
  .image-13 {
    display: none;
  }
  .hero-images {
    position: static;
    z-index: 1;
    overflow: hidden;
    width: 100%;
    height: auto;
    max-height: 100%;
    max-width: 100%;
    clear: none;
  }
  .image-18 {
    position: fixed;
    top: 136px;
    right: -212px;
  }
  .footer-columns {
    background-color: #fff;
  }
  .branding-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}

@font-face {
  font-family: 'Fa 400';
  src: url('../fonts/fa-regular-400.woff2') format('woff2'), url('../fonts/fa-regular-400.eot') format('embedded-opentype'), url('../fonts/fa-regular-400.woff') format('woff'), url('../fonts/fa-regular-400.ttf') format('truetype'), url('../fonts/fa-regular-400.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Fa solid 900';
  src: url('../fonts/fa-solid-900.woff2') format('woff2'), url('../fonts/fa-solid-900.eot') format('embedded-opentype'), url('../fonts/fa-solid-900.woff') format('woff'), url('../fonts/fa-solid-900.ttf') format('truetype'), url('../fonts/fa-solid-900.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Fa brands 400';
  src: url('../fonts/fa-brands-400.woff2') format('woff2'), url('../fonts/fa-brands-400.eot') format('embedded-opentype'), url('../fonts/fa-brands-400.woff') format('woff'), url('../fonts/fa-brands-400.ttf') format('truetype'), url('../fonts/fa-brands-400.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}