.hero_content {
	padding: 24% 0;
	text-align: left;
}

.banner-para {
	width:50%;
}

.btn-primary {
    background-color: #ffffff;
    border-color: #ffffff;
    color: black;
    font-size: 18px;
    padding: 10px 40px;    
}

#services {
	background:#e8e8e8;
}

.location_title {
	padding-bottom:4%;
}

.raleigh {
    width:100%;
    height:300px;
    background-image: url('../assets/2. Locations/raleigh-location-image.png');	
    background-size: cover;
    float:left;
}

.cary {
    width:100%;
    height:300px;
    background-image: url('../assets/2. Locations/cary-location-image.png');	
    background-size: cover;
    float:left;
}

.soon {
    width:100%;
    height:300px;
    background-image: url('../assets/2. Locations/coming-soon-location-image.png');	
    background-size: cover;
    float:left;
}

.location_content {
	display:block;
	height:100%;
}

.location_content div.loc {
    float: left;
    height: 300px;
    width: 100%;
    background: white;
    padding: 3%;	
}

.location_content .raleigh,
.location_content .cary,
.location_content .soon {
	/*margin-bottom:4%;*/
}

.location_content p {
	font-size:14px;
}

.location_content p b {
	color:black;
}

.location_content button.blk_btn {
	width:50%;
	background: black;
	color:white;
	border:3px solid black;
	border-radius: 0;
}

.location_content button.dir_btn {
	width:48.5%;
	background: white;
	color:black;
	border:3px solid black;
	border-radius: 0;
}

.btn_placement {
    position: absolute;
    width: 87%;
    bottom: 12px;
}

.about_content {
	padding:0 10%;
}

.timeline-image {
    width: 30%;
    float: left;
}

.timeline-panel {
    float: left;
    width: 70%;
    padding-top: 2%;	
}

.timeline-heading {
    background: #ffffff;
    padding: 3.2% 5% 2%;
    position: relative;
    left: -100px;
    box-shadow: 5px 5px 30px #f1f1f1;	
}

.timeline-body p {
    padding: 5% 0 0 5%;
}

.career_content {
	width:50%;
    padding: 1%	
}

.career_img img {
    width: 60%;
    position: absolute;
    top: -150px;
    right: -130px;
}

.career_content {
	position: relative;
}

.app_btn {
	background-color: black;
	padding:1.5% 8%;
	color:white;
	font-weight: normal;
	border-radius:0;
}

@media (max-width: 992px) {
#mainNav .navbar-brand {
    background-image:url(assets/brew-logo-white.svg)
}

.btn_placement {
	position:relative;
	width:100%;
}

.location_content {
	padding-bottom:15%;
}

.location_content div.loc {
	height:100%;
}

}